<div class="navigation-root">
  <div class="link" onclick="console.log('Clicked Government...')">
    <div class="clickable">
      <h2>Government</h2>
    </div>
  </div>
  <div class="link" onclick="console.log('Clicked School...')">
    <div class="clickable">
      <h2>School</h2>
    </div>
  </div>
  <div class="link" onclick="console.log('Clicked Personal...')">
    <div class="clickable">
      <h2>Personal</h2>
    </div>
  </div>
  <div class="link" onclick="console.log('Clicked Free Trial...')">
    <div class="clickable">
      <h2>Free Trial</h2>
    </div>
  </div>
  <div class="link" onclick="console.log('Clicked Get Started...')">
    <div class="clickable">
      <h2>Get Started</h2>
    </div>
  </div>
  <div class="link" onclick="console.log('Clicked Log In...')">
    <div class="clickable">
      <h2>Log In</h2>
    </div>
  </div>
</div>
