<div class="root">
  <div class="header">
    <app-header></app-header>
  </div>
  <div class="main">
    <app-main></app-main>
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>

<!-- <div class="heading-block government-block">
  <div class="clickable" onclick='unimplemented("Government")'></div>
</div>
<div class="heading-block school-block">
  <div class="clickable" onclick='unimplemented("School")'></div>
</div>
<div class="heading-block personal-block">
  <div class="clickable" onclick='unimplemented("Personal")'></div>
</div>
<div class="heading-block free-trial-block">
  <div class="clickable" onclick='unimplemented("Free Trial")'></div>
</div>
<div class="heading-block get-started-block">
  <div class="clickable" onclick='unimplemented("Get Started")'></div>
</div>
<div class="heading-block log-in-block">
  <div class="clickable" onclick='unimplemented("Log In")'></div>
</div>

<h3 class="heading-text government-text">Government</h3>
<h3 class="heading-text school-text">School</h3>
<h3 class="heading-text personal-text">Personal</h3>
<h3 class="heading-text free-trial-text">Free Trial</h3>
<h3 class="heading-text get-started-text">Get Started</h3>
<h3 class="heading-text log-in-text">Log In</h3>

<div class="heading-title-block">
  <div class="clickable" onclick='unimplemented("Heading Title")'></div>
  <h1 class="heading-title">{{ title }}</h1>
</div>
<div class="heading-strip"></div>

<div class="background-block"></div>

<div class="subheading-block featured-block">
  <div class="clickable" onclick='unimplemented("Featured")'></div>
</div>
<div class="subheading-block news-block">
  <div class="clickable" onclick='unimplemented("News")'></div>
</div>

<h3 class="subheading-text featured-text">Featured</h3>
<h3 class="subheading-text news-text">News</h3>

<div class="news-panel"></div>
<div class="change-log-panel"></div>

<div class="subheading-block-flipped change-log-block">
  <div class="clickable" onclick='unimplemented("Change Log")'></div>
</div>
<h3 class="subheading-text change-log-text">Change Log</h3>

<div class="main-panel"></div>
<div class="main-panel-block"></div>

<div class="slider-bar"></div>
<div class="slider-bar-block"></div>
<div class="slider-bar-left-arrow">
  <div class="clickable" onclick='unimplemented("Left Arrow")'>
    <div class="left-arrow"></div>
  </div>
</div>
<div class="slider-bar-right-arrow">
  <div class="clickable" onclick='unimplemented("Right Arrow")'>
    <div class="right-arrow"></div>
  </div>
</div>


<div class="news-panel-content">
  <h2>About Ikira</h2>
  <h3>Creating quality educational experiences and empowering students.</h3>
  <h4>Here at Ikira, our mission is to deliver quality educational experiences.</h4>
  <p>These experiences help to equip students with tools for success.</p>
  <p>We want to help all students... anyone, anywhere, anytime!</p>
  <p>We're the best, but you already knew that!</p>
</div>
<div class="change-log-content">
  <h2>Friday, August 31st, 2018</h2>
  <p>Started creating this masterpiece.</p>
  <h2>Saturday, September 1st, 2018</h2>
  <p>Continued creating this masterpiece.</p>
</div> -->
